.title-small {
    font-size: 16px;
    font-weight: 800;
}
.title-medium {
    font-size: 20px;
    font-weight: 800;
}
.title-large {
    font-size: 24px;
    font-weight: 800;
}

.body-small {
    font-size: 14px;
    font-weight: 400;
}
.body-medium {
    font-size: 16px;
    font-weight: 400;
}
.body-large {
    font-size: 20px;
    font-weight: 400;
}

.thin-text {
    font-weight: lighter;
}