#ten-cheapest-phones {
    margin-bottom: 48px;
    list-style: none;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

#ten-cheapest-phones li {
    display: inline-block;
    padding-right: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
